*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rebeccapurple;
    width: 3840px;
    height: 2160px;
}

#Weather{
    position: relative;
    width: 100vw;
    height: 35vh;
    background-color: rgb(96, 0, 116);
}



.Weather-grid {
    position: absolute;
    bottom: 0;
    width: 95vw;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0 2.5vw 0 2.5vw;
    .Time {
        margin: 0 auto 1vw auto;
        text-align: center;
        display: block;
        color: white;
        background-color: rgba(255, 255, 255, 0.493);
        border-radius: 14px;
        width: 2.5vw;
        padding: 0.05vw;
    }
  
  .Weather-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
}

#Size{
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 3740px;
}

h6{
    font-size: 1vw;
}

#Tester{
    position: absolute;
    bottom: 0;
    background-color: rebeccapurple;
}

#Temp0{
    position: absolute;
    top: 0;
    left: 20px;
    color: red;
}


#Temp1{
    position: absolute;
    top: 0;
    left: 430.5px;
    color: red;
}
#Temp2{
    position: absolute;
    top: 0;
    left: 898px;
    color: greenyellow;
}
#Temp3{
    position: absolute;
    top: 0;
    left: 1365.5px;
    color: orange;
}
#Temp4{
    position: absolute;
    top: 0;
    left: 1833px;
     color: pink;
}
#Temp5{
    position: absolute;
    top: 0;
    left: 2300.5px;
    color: powderblue;
}
#Temp6{
    position: absolute;
    top: 0;
    left: 2768px;
    color: orangered;
}
#Temp7{
    position: absolute;
    top: 0;
    left: 3235.5px;
    color: blue;
}

#WeatherGraph{
    #GraphTemp{
        stroke: rgb(245, 159, 0);
        stroke-width: 5px;
        fill: rgba(255, 166, 0, 0.68);
    }
    #GraphRain{
        display: none;
        stroke: rgb(0, 225, 255);
        stroke-width: 5px;
        fill: rgba(0, 238, 255, 0.68);
    }
}